@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practica DataFirst</h1>
    <p>Más detalles de la tarea en <a href="https://classroom.google.com/u/0/c/Njg5MjA3MTAxMjEy/a/Njg5MzIzNjMzODky/details">Classroom</a>.</p>
</div>
